{#
Blocks
    content | the content for the menu, normally comprised of elements with class 'dropout__item'
    icon | default icon is vertical dots, this can be used to replace
Options
    containerClass | defaults to 'ml-3 rounded-md relative'
#}
{% if block('content') is defined and block('content')|trim is not empty %}
    <div
        class="{{ containerClass|default('ml-3 rounded-md relative') }}"
        x-data="dropoutMenu($el)"
        @click.outside="closeMenu()"
    >
        <button
            type="button"
            class="dropout__trigger dropout__trigger--dark js-dropout-trigger"
            @click="toggleMenu()"
        >
            {% block icon %}
                {# Heroicon name: dots-vertical #}
                <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"/>
                </svg>
            {% endblock %}
        </button>

        <div class="w-48 rounded-md shadow-lg js-dropout-menu z-10 hidden" x-cloak>
            <div class="dropout__menu" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endif %}