<div class="mt-6 lg:px-8 lg:grid lg:grid-cols-12 lg:gap-x-5">
    <aside class="my-8 lg:my-0 lg:col-span-3">
        {% block sidebar %}{% endblock %}
    </aside>

    <main class="lg:col-span-9">
        {% block main_content %}{% endblock %}
    </main>
</div>