<div class="px-4 lg:px-0 mt-4 help-block">
    <h3 class="text-lg font-medium leading-6 text-gray-900 help-block__title">{% block title %}{% endblock %}</h3>
    <div class="mt-1 text-sm leading-5 text-gray-600 prose help-block__content">
        {% block content %}{% endblock %}
    </div>
</div>