{#
Options:
    homePath
    links
        path
        label
        show

Blocks
    main
    home_breadcrumb_wrapper
    breadcrumb_wrapper
    separator
    link_wrapper
#}

{% set links = links|filter(l => l.show is not defined or l.show) %}

{% block main %}
    <nav class="flex" aria-label="Breadcrumb">
        <ol role="list" class="flex items-center space-x-2 breadcrumbs-list">
            {% block home_breadcrumb_wrapper %}
                <li>
                    <div>
                        <a href="{{ homePath|default('/') }}" class="breadcrumb-home-link">
                            {# Heroicon name: solid/home #}
                            <svg class="flex-shrink-0 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                            </svg>
                            <span class="sr-only">Home</span>
                        </a>
                    </div>
                </li>
            {% endblock %}

            {% for link in links %}
                {% block breadcrumb_wrapper %}
                    <li>
                        <div class="flex items-center">
                            {% block separator %}
                                <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                                    <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
                                </svg>
                            {% endblock %}

                            {% block link_wrapper %}
                                <a href="{{ link.path|default('#') }}" class="ml-4 text-xs font-medium breadcrumb-link">{{ link.label }}</a>
                            {% endblock %}
                        </div>
                    </li>
                {% endblock %}
            {% endfor %}
        </ol>
    </nav>
{% endblock %}